
<div class="panel-group" id="code_accordion">
  <div class="panel panel-default">
    <div class="row panel-heading">
      <div class="col-md-2">语言</div>
      <div class="col-md-6">代码标题</div>
      <div class="col-md-4">来源网址</div>
    </div>
  </div>

  <% codes.each do |code| %>
    <div class="panel panel-default">
      <div class="row panel-heading">
        <div class="col-md-2">
          <%= code.language.try(:code) %>
        </div>

        <h4 class="href_name panel-title col-md-6">
          <a title="<%= code.title %>" data-toggle="collapse" data-parent="#code_accordion" href="#code_<%= code.id %>" class="collapsed">
            <%= code.title %>
          </a>
        </h4>

        <div class="href_name col-md-4">
          <%= link_to code.source, code.source, target: "_blank", title: code.source %>
        </div>
      </div>

      <div id="code_<%= code.id %>" class="panel-collapse collapse" style="height: 0px;">
        <div class="panel-body">
          <%= code.content.html_safe %>
        </div>
      </div>
    </div>
  <% end %>

  <%= paginate codes, param_name: "page_code" %>
</div>

