
<div class="blog-posts">
  <h4>最近更新的文章: </h4>
  <% if posts.size > 0 %>
    <% posts.each do |post| %>
      <div class="newer_row blog-post">
        <div class="post-user pull-left">
          <a target="_blank" href="<%= frontend_path(post.user) %>">
            <%= image_tag(post.user.avatar_url(:thumb), class: 'user_face') %>
          </a>
        </div>

        <div class="href_name post-title">
          <%= link_to post.title, frontend_post_path(post), title: post.title %>
        </div>
        <p class="post-meta">
          <%= link_to post.user.human_name, frontend_path(post.user), target: "_blank" %>
           · 
          <abbr class="timeago" title="<%= post.published_time %>">
            <%= time_ago_in_words(post.created_at) %>前
          </abbr> 发布
        </p>

        <div class="post-content display_none">
          <%#= post.content.html_safe %>
        </div>
      </div>
    <% end %>
  <% else %>
    最近没有任何文章。
  <% end %>
</div>
