
<div class="panel-heading">
  <div class="heading">登 录</div>
</div>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
  <div class="panel-body">
    <%= devise_error_messages! %>
    <%= f.input :login, autofocus: true, input_html: { class: "login" } %>
    <%= f.input :password %>

    <div class="form-group">
      <label class="col-sm-3"> </label>
      <div class="col-sm-9">
        <%= f.input_field :remember_me, as: :boolean if devise_mapping.rememberable? %>
        <%= f.label :remember_me, label: "一周之内免登录" %>
      </div>
    </div>

    <div class="form-group form-actions">
      <label class="col-sm-3"> </label>
      <div class="col-sm-9">
        <%= f.button :submit, "登 录", id: "sign_in_btn" %>
      </div>
    </div>
  </div>

  <div class="panel-footer">
    <%= render "users/shared/links" %>
  </div>
<% end %>
