
<div class="session-form">
  <div class="panel panel-default">
    
    <div class="panel-heading">
      <div class="heading">登 录</div>
    </div>
   
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
      <div class="panel-body">
        <%= devise_error_messages! %>
        <%= f.input :login, autofocus: true %>
        <%= f.input :password %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

        <div class="form-actions">
          <%= f.button :submit, "登 录" %>
        </div>
      </div>
      
      <div class="panel-footer">
        <%= render "users/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
