
<div class="row">
  <label class="col-md-3"> </label>
  <div class="col-md-9">
    <% if @blogger != current_user %>
      <h4><%= link_to @blogger.human_name, url_for %> 的个人资料</h4>
    <% else %>
      <h4><%= link_to @blogger.human_name, admin_profile_path %> 的个人资料</h4>
    <% end %>
  </div>
</div>

<%= simple_form_for @blogger, url: "#", html: { class: "form-horizontal" } do |f| %>
  <%= f.input :uid, disabled: true %>
  <%= f.input :name, disabled: true %>
  
  <% if @blogger.is_email_public %>
    <%= f.input :email, disabled: true %>
  <% end %>

  <%= f.input :signature, disabled: true %>
  <%= f.input :city_name, disabled: true %>
  <%= f.input :company, disabled: true %>

  <%= f.input :github, disabled: true, input_html: { value: @blogger.github_page } %>
  <%= f.input :homepage, disabled: true %>
  <%= f.input :description, disabled: true %>
<% end %>
