<div class="panel-group">

  <div class="panel panel-default">
    <div class="panel-body text-center">
      <%= image_tag(current_user.avatar_url, class: 'bloger_photo') %>
      <div>
        <%= current_user.name || current_user.email %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          博客管理
        </a>
      </h4>
    </div>

    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul>
          <li>
            <%= link_to '发表文章', new_admin_post_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          文章管理
        </a>
      </h4>
    </div>

    <div id="collapse2" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul>
        <% @categories.each do |category| %>
          <li>
            <%= link_to category.name, admin_category_path(category) %>
             (<%= Post.where(category: category).count %>)
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>

</div>
