<div class="panel-group">

  <div class="panel panel-default">
    <div class="panel-body text-center">
      <a target="_blank" href="<%= frontend_user_path(current_user) %>">
        <%= image_tag(current_user.avatar_url, class: 'bloger_photo') %>
      </a>

      <div class="bloger_name">
        <label><%= current_user.human_name %></label>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          博客管理
        </a>
      </h4>
    </div>

    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul>
          <li><%= link_to '发布文章', new_admin_post_path %></li>
          <li><%= link_to '评论管理', admin_replies_path %></li>
          <li><%= link_to '分类管理', admin_categories_path %></li>
          <li><%= link_to '我的资料', admin_profile_path %></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          文章管理
        </a>
      </h4>
    </div>

    <div id="collapse2" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul>
          <li><%= link_to "全部文章 (#{current_user.posts.count})", admin_posts_path %></li>
          <% @categories.each do |category| %>
            <li>
              <%= link_to "#{category.name} (#{Post.where(category: category).count})", admin_category_path(category) %>
            </li>
          <% end %>
          <li><%= link_to "回收站 (0)", admin_posts_path %></li>
        </ul>
      </div>
    </div>
  </div>

</div>
