<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    'admin/home', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin/home', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: 'layouts/shared/topbar' %>
  <%= render partial: 'layouts/admin/hero_content' %>

  <div class="container">
    <div class="row">
      <div class="col-md-9 well" id="main_content">
        <%= render partial: 'layouts/shared/flash' %>
        <%= yield %>
      </div>

      <div class="col-md-3">
        <%= render partial: 'layouts/admin/menubar' %>
      </div>
    </div>
  </div>

  <%= render partial: 'layouts/shared/footer' %>

</body>
</html>
