<!DOCTYPE html>
<html>
<head>
  <%= page_title_tag %>
  <%= stylesheet_link_tag    'admin/home', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin/home', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'layouts/admin/flash' %>
<%= yield %>

</body>
</html>
