<!DOCTYPE html>
<html>
<head>
  <%= page_title_tag %>
  <%= stylesheet_link_tag    'admin/sessions', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin/sessions', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

</div>

  <%= render partial: 'layouts/shared/topbar' %>

  <div class="container">
    <%= render partial: 'layouts/shared/flash' %>
    <%= yield %>
  </div><!-- /.container -->

  <%= render partial: 'layouts/shared/footer' %>

</body>
</html>
