  
<%= simple_form_for [:admin, @post], html: {class: "form-horizontal"} do |f| %>
  <%= f.association :point, collection: Point.all %>
  <%= f.association :category, collection: @categories %>

  <%= f.input :source, collection: sources_collection %>
  <%= f.input :title %>

  <%= f.input :tags %>
  <%= f.input_field :content, as: :ckeditor, ckeditor: { toolbar: "Easy", height: 300 }  %>

  <div class="form-actions text-center">
    <%= f.button :submit, "发 布", class: "btn btn-primary" %>
  </div>
<% end %>
