  
<%= simple_form_for [:admin, @post], html: {class: "form-horizontal form_new_post"} do |f| %>
  <%= f.association :point, collection: Point.all %>
  <%= f.association :category, collection: @categories %>

  <%= f.input :source, collection: sources_collection %>
  <%= f.input :title %>
  <%= f.input :tags %>
  
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.cktext_area :content, ckeditor: { toolbar: "Easy", height: 380 }  %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      可上传的文件格式: <%= Ckeditor.attachment_file_types + Ckeditor.image_file_types %>
    </div>
  </div>

  <div class="form-group form-actions">
    <label class="col-sm-3"> </label>
    <div class="col-sm-9">
      <%= f.button :submit, "发 布", class: "btn btn-primary btn_new_post" %>
    </div>
  </div>
<% end %>
