
<div class="panel-heading">
  <div class="heading">
    <h4>永久链接: <%= link_to frontend_post_url(@post), frontend_post_path(@post) %></h4>
    <h4><%= @post.title %></h4>

    发布时间: <%= @post.published_time %>
    <br/>文章分类: <%= @post.category.name %>

    <br/>文章标签: <a href="#"><span class="badge"><%= @post.tags %></span></a>
  </div>
</div>

<div class="panel-body">
  <%= @post.content.html_safe %>
</div>

<div class="panel-footer">
  <div class="row pull-right">
    <a href="<%= edit_admin_post_path(@post) %>" class="btn btn-sm btn-default">
      <span class="glyphicon glyphicon-edit"></span>编辑
    </a>

    <%= link_to '删 除', admin_post_path(@post), data: { confirm: "你确定要删除这篇文章吗？" }, method: :delete, class: "btn btn-sm btn-danger" %>
  </div>
</div>

