
<h4>文章链接: <%= link_to frontend_post_url(@post), frontend_post_path(@post) %></h4>
<br/>
<div class="row-fluid">
  <h4><%= @post.title %></h4>

  <a href="<%= edit_admin_post_path(@post) %>" class="btn btn-default">
    <span class="glyphicon glyphicon-edit"></span>编辑
  </a>

  <%= link_to '删 除', admin_post_path(@post), data: { confirm: "你确定要删除这篇文章吗？" }, method: :delete, class: "btn btn-danger" %>
</div>

<%= @post.published_time %>
<br/>文章分类: <%= @post.category.name %>
<br/>标签: <a href="#"><span class="badge"><%= @post.tags %></span></a>
<br/> <%= @post.content.html_safe %>
