<!DOCTYPE html>
<html>
<head>
  <%= page_title_tag %>
  <%= stylesheet_link_tag    'frontend/blog_home', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'frontend/blog_home', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: 'layouts/shared/topbar' %>

  <div class="container">
    <%= render partial: 'layouts/frontend/blog/hero_content' %>

    <div class="row-fluid">
      <div class="col-md-9 blog-main">
        <%= render partial: 'layouts/shared/flash' %>
        <%= yield %>
      </div>
      
      <div class="col-md-3 blog-sidebar">
        <%= render partial: 'layouts/frontend/blog/menubar' %>
      </div>
    </div>
  </div>

  <%= render partial: 'layouts/shared/footer' %>

</body>
</html>
