<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'layouts/shared/head' %>

  <%= stylesheet_link_tag 'frontend/blogger', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'frontend/blogger', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: 'layouts/shared/topbar', locals: { blogger: @blogger, messages: @messages } %>

  <%= render partial: 'layouts/frontend/blogger/hero_content', locals: { blogger: @blogger } %>

  <div class="container">
    <div class="row">
      <div class="col-md-9 well blog-main">
        <%= render partial: 'layouts/shared/flash' %>
        <%= yield %>
      </div>
      
      <div class="col-md-3 blog-sidebar">
        <%= render partial: 'layouts/frontend/blogger/menubar', locals: { blogger: @blogger, categories: @categories } %>
      </div>
    </div>
  </div>

  <%= render partial: 'layouts/shared/footer' %>

  <%= render partial: 'layouts/shared/javascript' %>
</body>
</html>
