<h2>更改您的密码</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%#= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= devise_error_messages! %>
    <%= f.input :password, label: "新密码", required: true, autofocus: true %>
    <%= f.input :password_confirmation, label: "重复密码", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "确认更改" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
