
<div class="panel-heading">
  <div class="heading">发送重置密码邮件</div>
</div>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
  <div class="panel-body">
    <%= f.error_notification %>
    <%= f.input :email, required: true, autofocus: true %>

    <div class="form-group form-actions">
      <label class="col-md-3"> </label>
      <div class="col-md-9">
        <%= f.button :submit, "确 认" %>
      </div>
    </div>
  </div>

  <div class="panel-footer">
    <%= render "users/shared/links" %>
  </div>
<% end %>
