
<div class="panel-heading">
  <div class="heading">忘记密码？</div>
</div>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
  <div class="panel-body">
    <%= f.error_notification %>
    <%= f.input :email, required: true, autofocus: true %>

    <div class="form-actions">
      <%= f.button :submit, "给我发送重置密码邮件" %>
    </div>
  </div>

  <div class="panel-footer">
    <%= render "users/shared/links" %>
  </div>
<% end %>
