
<div class="table-responsive">
  <table class="table table-striped table-hover table_messages">
    <thead>
      <tr>
        <th>类型</th>
        <th>内容</th>
        <th>发送人</th>
        <th>已读</th>
        <th>管理</th>
      </tr>
    </thead>

    <tbody>
      <% messages.each do |message| %>
        <tr data-id="<%= message.id %>">
          <td>
            <span class="label label-success">
              <%= t("activerecord.models.#{message.target_type.underscore}") %>
            </span>
          </td>
          <td class="href_name">
            <%= link_to message.body, admin_message_path(message), title: message.body %>
          </td>

          <td>
            <%= link_to message.sender.human_name, frontend_path(message.sender), target: "_blank" %>
          </td>
          <td>
            <!--  disabled="disabled" -->
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-success btn_mark_read">未读</button>
            </div>
          </td>
          <td>
            <%= link_to '删 除', admin_message_path(message), data: { confirm: "你确定要删除这条消息吗？" }, method: :delete, class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>

      <tr>
        <td colspan='4'><%= paginate messages %></td>
        <td colspan='2' class="text_middle">
          <div class="pull-right">
            <%= link_to('查看所有', admin_messages_path) unless url_for == admin_messages_path %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(function(){
    new MessageListView({
      el: $(".table_messages")
    });
  });
</script>

