
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>标题</th>
        <th>发布时间</th>
        <th>分类</th>
        <th>浏览</th>
        <th>回复</th>
        <th>管理</th>
      </tr>
    </thead>

    <tbody>
      <% posts.each do |post| %>
        <tr>
          <td class="href_name">
            <%= link_to post.title, admin_post_path(post), title: post.title %>
          </td>
          <td><%= post.published_time %></td>
          <td><%= post.category.name %></td>
          <td><%= post.visits %></td>
          <td><%= post.replies.size %></td>
          <td>
            <%= link_to '编 辑', edit_admin_post_path(post), class: "btn btn-xs btn-primary" %>
            <%= link_to '删 除', admin_post_path(post), data: { confirm: "你确定要删除这篇文章吗？" }, method: :delete, class: "btn btn-xs btn-danger" %>
          </td>
        </tr>
      <% end %>

      <tr>
        <td colspan='4'><%= paginate posts %></td>
        <td colspan='2' class="text_middle">
          <div class="pull-right">
            <%= link_to('查看所有', admin_posts_path) unless url_for == admin_posts_path %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
