
<div class="panel-heading">
  <div class="heading">
    <h4><%= @code.title %></h4>

    收藏时间: <%= @code.published_time %>
    <br/>代码分类: <%= @code.category.name %>

    <br/>代码标签: <%= code_tags_from_str(@code.tags) %>
    <br/>来源网址: <%= link_to @code.source, @code.source, target: "_blank", class: "href_name" %>
  </div>
</div>

<div class="panel-body">
  <%= @code.content.html_safe %>
</div>

<div class="panel-footer">
  <%= link_to "返回收藏列表", frontend_codes_path(@blogger) %>
</div>
